<!DOCTYPE html>
<html>
    <head>
        <title>The Amazing Number Cruncher</title>
    </head>
    <body>
        <p>Thank you. The results are as follows:</p>
        <ul>
            <li><%= num1 %> + <%= num2 %> = <%= add %></li>
            <li><%= num1 %> - <%= num2 %> = <%= sub %></li>
            <li><%= num1 %> / <%= num2 %> = <%= div %></li>
            <li><%= num1 %> * <%= num2 %> = <%= mul %></li>
        </ul>
        <p>
            <a href=".">Return To The Form</a>
        </p>
    </body>
</html>